params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    samplesheet = "$projectDir/assets/test_data/samplesheet.csv"
    // Assembly: tests hifiasm and ONT
    hifi = true
    ont = true
    hifi_ont = false
    assembler = 'flye_on_hifiasm'
    hifi_args = ''
    scaffold_ragtag = true
    // Do not test qc
    busco = false
    quast = false
}
